@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <a class="btn btn-primary" asp-controller="Medicos" asp-action="Create">Cadastrar</a>
    <a class="btn btn-secondary" asp-controller="Medicos" asp-action="SelectTurno">Listar Turnos</a>
</div>
